测试更改一下
再更改一下
/* common---------------------公用样式 */


/* bg-color-------------------背景色 */


/* hover----------------------鼠标经过 */


/* margin---------------------外边距 */


/* padding--------------------内边距 */


/* position-------------------定位 */


/* flex-----------------------弹性盒子布局 */


/* display--------------------渲染模式 */


/* border---------------------边框 */


/* width-height---------------宽高 */


/* font-size------------------字号 */


/* line-height----------------行高 */


/* text-overflow--------------文字溢出 */


/* text-align-----------------文字定位 */


/* transition-----------------动画 */


/*--------------
    common
----------------*/

@import '/utils/iconfont.wxss';
page {
    background-color: #fff;
}

.iconfont {
    line-height: 1;
    width: 44px;
    height: 44px;
    font-size: 44px !important;
    /* border: 1px solid #000; */
}


/* 主题色 */

.t-bg {
    background-color: #b20000;
}

.t-c {
    color: #b20000;
}


/* 初始化类 */

button {
    outline: none;
    padding: initial;
    margin: initial;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    line-height: inherit;
}

.button-hover {
    color: inherit;
    background-color: inherit;
}

button::after {
    border: none;
}


/* 分割线 */

.com-bt-20 {
    border-top: 20px solid rgb(250, 244, 244);
}

.com-bb-20 {
    border-bottom: 20px solid rgb(250, 244, 244);
}


/* 提交按钮 */

.com-submit-btn {
    line-height: 88px;
    border-radius: 44px;
    background-color: #d6d6d6;
}

.com-submit-btn.active {
    background-color: #b20000;
}


/* 遮罩背景 */

.bg-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

.bg-mask.active {
    background-color: rgba(0, 0, 0, 0.3);
}


/*--------------
    bg-color
----------------*/

.bg-f {
    background-color: #fff;
}

.bg-e {
    background-color: #eee;
}

.bg-f4 {
    background-color: #f4f4f4;
}

.bg-d {
    background-color: #ddd;
}

.bg-e {
    background-color: #eee;
}


/*--------------
    hover
----------------*/

.hover-o-z6 {
    opacity: 0.6;
}

.hover-bg-e8 {
    background-color: #e8e8e8 !important;
}


/*-----------------
    margin
-------------------*/

.m-auto {
    margin: auto !important;
}

.m-r-auto {
    margin-right: auto !important;
}

.m-r-40 {
    margin-right: 40px !important;
}

.m-r-30 {
    margin-right: 30px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-l-auto {
    margin-left: auto !important;
}

.m-l-40 {
    margin-left: 40px !important;
}

.m-l-30 {
    margin-left: 30px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-v-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.m-v-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.m-v-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.m-v-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.m-v-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.m-h-40 {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.m-h-30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.m-h-20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.m-h-10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.m-h-auto {
    margin-left: auto;
    margin-right: auto;
}

.m-40 {
    margin: 40px !important;
}

.m-30 {
    margin: 30px !important;
}

.m-20 {
    margin: 20px !important;
}

.m-10 {
    margin: 10px !important;
}

.p-h-40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.p-h-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.p-h-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.p-h-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.p-h-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.p-v-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.p-v-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.p-v-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.p-v-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.p-v-12 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.p-v-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.p-40 {
    padding: 40px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-0 {
    padding: 0px !important;
}

.p-t-40 {
    padding-top: 40px !important;
}

.p-t-30 {
    padding-top: 30px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-t-15 {
    padding-top: 15px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-b-40 {
    padding-bottom: 40px !important;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-l-40 {
    padding-left: 40px !important;
}

.p-l-30 {
    padding-left: 30px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.p-l-5 {
    padding-left: 5px !important;
}

.p-r-40 {
    padding-right: 40px !important;
}

.p-r-30 {
    padding-right: 30px !important;
}

.p-r-20 {
    padding-right: 20px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.hoverClass {
    background-color: #fff;
}


/* 引用boostrap 4.0 */


/* ---------------
    position
------------------ */

.pos-fc {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
}

.pos-fbc {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translate3d(-50%, 0%, 0);
    -webkit-transform: translate3d(-50%, 0%, 0);
}

.pos-ac {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
}

.pos-tc {
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
}

.pos-at {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.tran-hc {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.tran-vc {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.position-static {
    position: static !important;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.position-fixed {
    position: fixed !important;
}

.position-sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
}

.z100 {
    z-index: 100;
}

.z200 {
    z-index: 200;
}

.z300 {
    z-index: 300;
}

.z400 {
    z-index: 400;
}

.z1000 {
    z-index: 1000;
}

.z5000 {
    z-index: 5000;
}


/*-----------
    flex
--------------*/

.flex-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.flex-row-reverse {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
}

.flex-column-reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.flex-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
}

.justify-content-start {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.justify-content-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}

.align-items-start {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}

.align-items-end {
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.align-items-baseline {
    -webkit-box-align: baseline !important;
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
}

.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.align-content-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
}

.align-content-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
}

.align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
}

.align-content-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
}

.align-content-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
}

.align-content-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
}

.align-self-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
}

.align-self-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
}

.align-self-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
}

.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

.align-self-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
}

.align-self-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
}


/* --------------- -----栅格布局------- ------------------ */

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col {
    position: relative;
    width: 100%;
    min-height: 1px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}


/* --------------- 
     display
------------------ */

.d-none {
    display: none !important;
}

.d-inline {
    display: inline !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-block {
    display: block !important;
}

.d-table {
    display: table !important;
}

.d-table-row {
    display: table-row !important;
}

.d-table-cell {
    display: table-cell !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

.o-hidden {
    overflow: hidden;
}


/* --------------- 
     border
------------------ */

.bor-1-3 {
    border: 1px solid #333;
}

.bor-1-d6 {
    border: 1px solid #d6d6d6;
}

.bor-1-e {
    border: 1px solid #eee;
}

.bt-1-d6 {
    border-top: 1px solid #d6d6d6;
}

.br-1-d6 {
    border-right: 1px solid #d6d6d6;
}

.bb-1-d6 {
    border-bottom: 1px solid #d6d6d6;
}

.bl-1-d6 {
    border-left: 1px solid #d6d6d6;
}

.bt-1-e {
    border-top: 1px solid #eee;
}

.br-1-e {
    border-right: 1px solid #eee;
}

.bb-1-e {
    border-bottom: 1px solid #eee;
}

.bl-1-e {
    border-left: 1px solid #eee;
}

.bt-1-e9 {
    border-top: 1px solid #e9e9e9;
}

.br-1-e9 {
    border-right: 1px solid #e9e9e9;
}

.bb-1-e9 {
    border-bottom: 1px solid #e9e9e9;
}

.bl-1-e9 {
    border-left: 1px solid #e9e9e9;
}


/* --------------- 
     width-height
------------------ */

.w-100 {
    width: 100%;
}

.w-100vw {
    width: 100vw;
}

.h-100 {
    height: 100%;
}

.h-100vh {
    height: 100vh;
}


/* --------------- 
     font-size
------------------ */

.t10 {
    font-size: 5px;
    font-weight: bold;
}

.t12 {
    font-size: 6px;
    font-weight: bold;
}

.t14 {
    font-size: 7px;
    font-weight: bold;
}

.t16 {
    font-size: 8px;
    font-weight: bold;
}

.t18 {
    font-size: 9px;
    font-weight: bold;
}

.t20 {
    font-size: 10px;
    font-weight: bold;
}

.t22 {
    font-size: 11px;
    font-weight: bold;
}

.t24 {
    font-size: 12px;
    font-weight: bold;
}

.t26 {
    font-size: 13px;
    font-weight: bold;
}

.t28 {
    font-size: 14px;
    font-weight: bold;
}

.t30 {
    font-size: 15px;
    font-weight: bold;
}

.t32 {
    font-size: 16px;
    font-weight: bold;
}

.t34 {
    font-size: 17px;
    font-weight: bold;
}

.t36 {
    font-size: 18px;
    font-weight: bold;
}

.t40 {
    font-size: 20px;
    font-weight: bold;
}

.t44 {
    font-size: 22px;
    font-weight: bold;
}

.t48 {
    font-size: 24px;
    font-weight: bold;
}

.t50 {
    font-size: 25px;
    font-weight: bold;
}

.s10 {
    font-size: 5px;
}

.s12 {
    font-size: 6px;
}

.s14 {
    font-size: 7px;
}

.s16 {
    font-size: 8px;
}

.s18 {
    font-size: 9px;
}

.s20 {
    font-size: 10px;
}

.s22 {
    font-size: 11px;
}

.s24 {
    font-size: 12px;
}

.s26 {
    font-size: 13px;
}

.s28 {
    font-size: 14px;
}

.s30 {
    font-size: 15px;
}

.s32 {
    font-size: 16px;
}

.s34 {
    font-size: 17px;
}

.s36 {
    font-size: 18px;
}

.s38 {
    font-size: 19px;
}

.s40 {
    font-size: 20px;
}

.s46 {
    font-size: 23px;
}

.s48 {
    font-size: 24px;
}

.s50 {
    font-size: 25px;
}


/* --------------- 
     color
------------------ */

.c-f {
    color: #fff;
}

.c-9 {
    color: #999;
}

.c-6 {
    color: #666;
}

.c-3 {
    color: #333;
}

.c-0 {
    color: #000;
}


/* --------------- 
     line-height
------------------ */

.lh-z1 {
    line-height: 1;
}

.lh-z2 {
    line-height: 1.2;
}

.lh-100 {
    line-height: 100%;
}


/* --------------- 
     text-overflow
------------------ */

.text-over-one {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.text-over-two {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


/* --------------- 
     text-align
------------------ */

.text-justify {
    text-align: justify !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.align-baseline {
    vertical-align: baseline !important;
}

.align-top {
    vertical-align: top !important;
}

.align-middle {
    vertical-align: middle !important;
}

.align-bottom {
    vertical-align: bottom !important;
}

.align-text-bottom {
    vertical-align: text-bottom !important;
}

.align-text-top {
    vertical-align: text-top !important;
}


/* --------------- 
     transition
------------------ */

.tra-z6 {
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

.tra-z4 {
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.tra-z3 {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}